# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/*
*.iml
out
gen
.gitignore
Telegramm/__pycache__/
__pycache__/
reminder_DB/__pycache__/
